* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    color: #fff;
    overscroll-behavior: none;
}

/* Upper Border */
.text-up {
    height: 300px;
    width: 100%;
    margin-top: 84px;
    background: #333 url(../img/Contact\ Us.jpg) center/cover no-repeat;
    background-blend-mode: overlay;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.text-up h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 8px;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

/* Contact Us */
.contact-us {
    min-height: 80vh;
    background-color: #333;
    padding: 50px;
    text-align: center;
}
.contact-wrapper {
    max-width: 800px;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.contact-form, .contact-info {
    text-align: left;
}
.contact-form h3, .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.form-grup {
    margin-bottom: 20px;
}
.form-grup input, .form-grup textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
}
.form-grup input:focus, .form-grup textarea:focus {
    box-shadow: 0 0 8px #bbb;
}
.contact-form button {
    padding: 12px 24px;
    background-color: #2699CB;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
}

/* Map Location */
.container-teks {
    padding-top: 40px;
    text-align: center;
    color: #000;
}
.container-teks h1 {
    font-weight: bold;
    font-size: 2rem;
}
.container-teks span {
    width: 100px;
    height: 6px;
    background-color: #2699CB;
    display: inline-block;
}
.container-teks iframe {
    width: 100%;
    height: 500px;
}


/* Responsive */
@media screen and (max-width: 768px) {
    .contact-us { padding: 20px; }
    .contact-wrapper { grid-template-columns: 1fr; }
    .text-up{margin: 0;}
    .text-up h1{font-size: 35px; justify-content: center;}

    .contact-form h3, .contact-info h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact-info p{
        font-size: 15px;
        margin: 5px;
    }
}
